{% extends 'myapp/base.html' %}
 {% load static %}
<!doctype html>
<html lang="en">

<head>
   

    <title> {% block title %}Java{% endblock title %} </title>
</head>

<body>
    
    {% block body %}
   <script>
        window.addEventListener('load', chk);
        function chk()
            {
                if (localStorage.getItem('name')=="" || (localStorage.getItem('name')==null) )
                { 
                  
                    
                    window.location = "/keshav_e_world";
                }
              }</script> 
    <div class="card-group">
        <div class="card" >
            <img src="{% static 'myapp/images/java/2.0.png' %}" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
                <h5 class="card-title">Introduction to Java</h5>
                <p class="card-text"></p>
                <a style="margin-left: 30%;" target=".blank"
                    href="https://drive.google.com/file/d/10g-KaiPuWXsNGGAixHTSSmd2p4378BlH/view?usp=sharing"
                    class="btn btn-primary">Download</a>
            </div>
        </div>
        <div class="card" >
            <img src="{% static 'myapp/images/java/2.1.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Data Types & Variables</h5>
                <p class="card-text"></p>
                <a style="margin-left: 30%;" target=".blank"
                    href="https://drive.google.com/file/d/1muaOcnzIb2p8lBsAqE9KnhT2WAoGCXiA/view?usp=sharing"
                    class="btn btn-primary">Download</a>
            </div>
        </div>
        <div class="card" >
            <img src="{% static 'myapp/images/java/2.2.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Operators & Expressions</h5>
                <p class="card-text"></p>
                <a style="margin-left: 30%;" target=".blank"
                    href="https://drive.google.com/file/d/1Owwgnb0LgZ1UZBpSWwpSEoePDWeWchBy/view?usp=sharing"
                    class="btn btn-primary">Download</a>
            </div>
        </div>
    </div>

    <div class="card-group">

        <div class="card" >
            <img src="{% static 'myapp/images/java/2.3.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Strings</h5>
                <p class="card-text"></p>
                <a style="margin-left: 30%;" target=".blank"
                    href="https://drive.google.com/file/d/1_QQW3EASIDwglq0tb1cC-_0pum9-7Hpm/view?usp=sharing"
                    class="btn btn-primary">Download</a>
            </div>
        </div>
        <div class="card" >
            <img src="{% static 'myapp/images/java/2.4.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Conditionals</h5>
                <p class="card-text"></p>
                <a style="margin-left: 30%;" target=".blank"
                    href="https://drive.google.com/file/d/1dif1VzZWOV5Z7LKzxvZaxAY35R0-COKE/view?usp=sharing"
                    class="btn btn-primary">Download</a>
            </div>
        </div>
        <div class="card" >
            <img src="{% static 'myapp/images/java/2.5.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Loop Control Instructions</h5>
                <p class="card-text"></p>
                <a style="margin-left: 30%;" target=".blank"
                    href="https://drive.google.com/file/d/1mqsKUG_yISqNRYnBVYHMs_j3M4G20i0I/view?usp=sharing"
                    class="btn btn-primary">Download</a>
            </div>
        </div>

    </div>

    <div class="card-group">

        <div class="card center"  >
            <img src="{% static 'myapp/images/java/2.6.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Arrays</h5>
                <p class="card-text"></p>
                <a style="margin-left: 30%;" target=".blank"
                    href="https://drive.google.com/file/d/1TpZ0mv2rardiBtukYJT_rPByPf0mdAM3/view?usp=sharing"
                    class="btn btn-primary">Download</a>
            </div>
        </div>
        <div class="card" >
            <img src="{% static 'myapp/images/java/2.7.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Methods in Java</h5>
                <p class="card-text"></p>
                <a style="margin-left: 30%;" target=".blank"
                    href="https://drive.google.com/file/d/1CgtW7oyPhqYzyxXylRdBbQCNsmp4iHms/view?usp=sharing"
                    class="btn btn-primary">Download</a>
            </div>
        </div>
        <div class="card" >
            <img src="{% static 'myapp/images/java/2.8.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Introduction to OOPS</h5>
                <p class="card-text"></p>
                <a style="margin-left: 30%;" target=".blank"
                    href="https://drive.google.com/file/d/1TYieJmRHTY3dKj7ehJsWQdp9mwDEjrAv/view?usp=sharing"
                    class="btn btn-primary">Download</a>
            </div>
        </div>



    </div>

    <div class="card-group">
    <div class="card" >
        <img src="{% static 'myapp/images/java/2.9.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Access Modifiers & Constructors</h5>
            <p class="card-text"></p>
            <a style="margin-left: 30%;" target=".blank"
                href="https://drive.google.com/file/d/1zELyFkc5n6dNvwy-hF8gSrhX0Gtlqqht/view?usp=sharing"
                class="btn btn-primary">Download</a>
        </div>
    </div>

        <div class="card" >
            <img src="{% static 'myapp/images/java/3.0.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Inheritance</h5>
                <p class="card-text"></p>
                <a style="margin-left: 30%;" target=".blank"
                    href="https://drive.google.com/file/d/1XLHYCCYyyrcRsHZKejXsU_vvHu-4PE1z/view?usp=sharing"
                    class="btn btn-primary">Download</a>
            </div>
        </div>

        <div class="card" >
            <img src="{% static 'myapp/images/java/3.1.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Abstract Class</h5>
                <p class="card-text"></p>
                <a style="margin-left: 30%;" target=".blank"
                    href="https://drive.google.com/file/d/1LSvP39yKlH1hcS8L_d5lLAkSDPH2j0ah/view?usp=sharing"
                    class="btn btn-primary">Download</a>
            </div>
        </div>



    </div>
 <div style="width=40px;" class="alert alert-primary d-flex  alert-dismissible fade show" role="alert">
  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </svg>
  <div>
    None of the notes/study materials belongs to me. All the materials are freely available on internet.
  </div>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
    
{% endblock body %}
</body>

</html>